form {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -40%);
  z-index: 5;
}
.flex-imge {
  border: 2px solid var(--pink);
  height: 250px;
  width: 250px;
  position: relative;
}
.flex-imge img {
  width: 200px;
  height: 200px;
  transform: translateY(-50px);
}
.flex-imge .man {
  position: absolute;
  left: -40px;
  top: -80px;
  z-index: 5;
  transform: rotate(10deg);
}
.flex-imge .woman {
  position: absolute;
  right: -40px;
  top: 100px;
  z-index: 5;
  transform: rotate(-5deg);
}
.sign-up .container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--white);
  width: 800px;
  height: 500px;
  border-radius: 15px;
  margin-bottom: 50px;
  position: relative;
}
.sign-up .container .flex-inputs,
.log-in .container .flex-inputs {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
  margin-top: 40px;
}
.sign-up .container .flex-inputs input,
.log-in .container .flex-inputs input {
  margin-bottom: 30px;
  width: 70%;
  margin-left: 80px;
  height: 40px;
  outline: none;
  border: none;
  background-color: rgba(239, 242, 241, 1);
  text-indent: 10px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 4px 0 var(--brown);
  transition: box-shadow 0.3s ease-in-out 0.4s;
  color: var(--brown);
}
.sign-up .container .flex-inputs input:focus {
  box-shadow: none;
}
.sign-up h2,
.log-in h2 {
  position: absolute;
  left: 50%;
  top: -4%;
  transform: translate(-50%);
  font-size: 35px;
  z-index: 2;
  color: var(--brown);
}
.sign-up .signup-btn {
  position: absolute;
  bottom: 60px;
  right: 16%;
  width: 25%;
  height: 32px;
  color: var(--white);
  border: none;
  outline: none;
  font-size: 17px;
  background-color: var(--brown);
  border-radius: 10px;
  cursor: pointer;
}
.sign-up .signup-btn::before {
  content: "Sign Up";
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  border-radius: 10px;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  background-color: var(--green);
  /* z-index: -1; */
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}
.sign-up .signup-btn:hover::before {
  height: 100%;
}
.signup-text,
.login-text {
  position: absolute;
  right: 17%;
  bottom: -1px;
  font-size: 15px;
  color: var(--gray);
}
.signup-text span,
.login-text span {
  text-decoration: underline;
  cursor: pointer;
  color: var(--brown);
}
.sign-up i {
  position: absolute;
  left: 82%;
  top: 55%;
  z-index: 2;
  color: var(--brown);
  cursor: pointer;
}
/* ---------------------------- */
/* Log in */
/* ---------------------------- */
.sign-up .flex-imge,
.sign-up .container .flex-inputs,
.sign-up h2,
.signup-btn,
.signup-text {
  display: none;
}
.log-in h2 {
  margin-top: -80px;
}
.log-in {
  position: absolute;
  top: 100px;
  width: 100%;
  /* display: none; */
}
.log-in .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.log-in .login-btn {
  position: absolute;
  bottom: 10px;
  right: 16%;
  width: 25%;
  height: 32px;
  color: var(--white);
  border: none;
  outline: none;
  font-size: 17px;
  background-color: var(--brown);
  border-radius: 10px;
  cursor: pointer;
}
.log-in i {
  position: absolute;
  right: 12%;
  top: 63%;
  z-index: 2;
  color: var(--brown);
  cursor: pointer;
}
.login-text {
  position: absolute;
  right: 17%;
  bottom: -50px;
  font-size: 15px;
  color: var(--gray);
}
.log-in .login-btn::before {
  content: "Log in";
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  border-radius: 10px;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  background-color: var(--green);
  /* z-index: -1; */
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}
.log-in .login-btn:hover::before {
  height: 100%;
}
